.todo-app {
  font-family: sans-serif;
  max-width: 250px;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
  text-align: left;
  list-style: none;
  padding: 0;
}

/** todo item **/
.todo-item {
  display: flex;
  align-items: center;
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.75);
  position: relative;
}

.todo-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
}

.todo-item__status {
  margin-right: 10px;
  width: 15px;
}

.todo-item__close {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -30px;
  z-index: 1000;
}

.todo-item__todo {
  width: 100%;
  display: flex;
  align-items: center;
}
